<div id="content">

  <kdnc-widgets-grid>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="well">

          <!-- Note block -->
          <div class="alert alert-info alert-block">
            Examine the code to see how the decorators are used to build and style a simple component
          </div>
          <!-- End Note block -->

          <!-- Content block -->
          <div>{{currentDate|date}}</div>
          <div>{{title}}</div>
          <div>Written by: {{author}}</div>
          <!-- End Content block -->

        </div>
      </div>
    </div>

    <!-- Description block -->
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="well">
          <h1>Using Decorators to Build and Style a Simple Component</h1>
          <hr class="simple">

          <p>Reference - https://ngcookbook.herokuapp.com/6577/</p>
        </div>
      </div>
    </div>
    <!-- End Description block -->

  </kdnc-widgets-grid>

</div>




