<div id="content">

  <kdnc-widgets-grid>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="well">

          <!-- Note block -->
          <div class="alert alert-info alert-block">
            Examine the code
          </div>
          <!-- End Note block -->

          <!-- Content block -->
          <div>{{title}}</div>
          <kdnc-attribution [author]="name"></kdnc-attribution>
          <!-- End Content block -->

        </div>
      </div>
    </div>

    <!-- Description block -->
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="well">
          <h1>Passing Members From a Parent Component Into a Child Component</h1>
          <hr class="simple">

          <p>Reference - https://ngcookbook.herokuapp.com/6543/</p>
        </div>
      </div>
    </div>
    <!-- End Description block -->

  </kdnc-widgets-grid>

</div>




