<div id="content">

  <kdnc-widgets-grid>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="well">
          <div class="alert alert-info alert-block">
            Select a single file
          </div>

          <form class="form-horizontal">
            <fieldset>
              <legend>Single file upload</legend>

              <div class="form-group">
                <label class="col-md-2 control-label">File input</label>
                <div class="col-md-10">
                  <input type="file" class="btn btn-default"
                         (change)="onSingleFileUpload($event)">
                  <p class="help-block">
                    Select a single file to upload
                  </p>
                </div>
              </div>

            </fieldset>
          </form>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="well">
          <h1> How to upload File to S3 Bucket</h1>
          <hr class="simple">

          <p></p>

          <p>Reference - http://javasampleapproach.com/aws/angular-4-amazon-s3-example-how-to-upload-file-to-s3-bucket</p>
        </div>
      </div>
    </div>

  </kdnc-widgets-grid>

</div>


