<!--<div class="row">-->
  <!--<div class= "col-sm-7  custom-row jumbotron">-->

    <!--<form class="form-horizontal"  [formGroup]="signupForm"-->
          <!--(ngSubmit)="onFormSubmit()">-->

      <!--<fieldset>-->
        <!--<legend>SignUp</legend>-->

        <!--&lt;!&ndash;- Email Block &ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="inputEmail" class="col-lg-2-->
              <!--control-label">Email</label>-->

          <!--<div class="col-lg-7">-->
            <!--<input type="text"  class="form-control"-->
                   <!--id="inputEmail" formControlName = "email"-->
                   <!--placeholder="Email">-->
          <!--</div>-->

          <!--&lt;!&ndash; Email error block &ndash;&gt;-->
          <!--<div *ngIf="email.invalid && email.touched"-->
               <!--class="col-sm-3 text-danger">-->

            <!--<div *ngIf = "email.errors?.required">-->
              <!--Email field can't be blank-->
            <!--</div>-->

            <!--<div *ngIf = "email.errors?.pattern">-->
              <!--The email id doesn't seem right-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;- Password Block &ndash;&gt;-->
        <!--<div formGroupName = "password">-->
          <!--<div class="form-group">-->
            <!--<label for="inputPassword" class="col-lg-2 control-label">Password</label>-->
            <!--<div class="col-lg-7">-->
              <!--<input type="password" formControlName = "pwd"-->
                     <!--id="inputPassword"  class="form-control"-->
                     <!--placeholder="Password">-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>-->
            <!--<div class="col-lg-7">-->
              <!--<input type="password" formControlName = "confirmPwd"-->
                     <!--id="confirmPassword"  class="form-control"-->
                     <!--placeholder="Password">-->
            <!--</div>-->

            <!--&lt;!&ndash; Password error block &ndash;&gt;-->
            <!--<div *ngIf="(password.invalid && password.touched)" class="col-sm-3 text-danger">-->

              <!--Password needs to be more than 8 characters-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->

        <!--&lt;!&ndash; Gender Block &ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="select" class="col-lg-2 control-label">Gender</label>-->
          <!--<div class="col-lg-7">-->
            <!--<select id="select"  class="form-control" formControlName="gender">-->

              <!--<option *ngFor = "let g of genderList"-->
                      <!--[value] = "g"> {{g}}-->
              <!--</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;- Terms and conditions Block &ndash;&gt;-->
        <!--<div class="form-group checkbox">-->
          <!--<div class="col-lg-6 ">-->
            <!--<input type="checkbox" formControlName="terms"> Confirm that you've read the Terms and-->
            <!--Conditions-->
          <!--</div>-->

          <!--&lt;!&ndash;- Terms error block &ndash;&gt;-->
          <!--<div *ngIf="(terms.invalid && terms.touched)"-->
               <!--class="col-lg-4 text-danger">-->

            <!--Please accept the Terms and conditions first.-->
          <!--</div>-->
        <!--</div>-->


        <!--&lt;!&ndash;- Buttons Block &ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<div class="col-lg-10 col-lg-offset-2">-->
            <!--<button type="reset" class="btn btn-default">Cancel</button>-->
            <!--<button type="submit" [disabled] = "!signupForm.valid" class="btn btn-primary">Submit</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</fieldset>-->
    <!--</form>-->
    <!--&lt;!&ndash;- Log the FormGroup values to see if the binding is working &ndash;&gt;-->

  <!--</div>-->
<!--</div>-->

<div id="content">

  <div class="row">
    <kdnc-big-breadcrumbs [items]="['Forms', 'Bootstrap Form Validation']" icon="pencil-square-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></kdnc-big-breadcrumbs>
  </div>

  <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->

  <!-- widget grid -->
  <kdnc-widgets-grid>

    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET ROW START -->
      <div class="col-sm-6">

        <!-- Widget ID (each widget will need unique ID)-->
        <div kdnc-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false">
          <!-- widget options:
          usage: <div sa-widget [editbutton]="false">

          [colorbutton]="false"
          [editbutton]="false"
          [togglebutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [custombutton]="false"
          [collapsed]="true"
          [sortable]="false"

          -->
          <header>
            <h2>#movieForm </h2>
          </header>

          <!-- widget div-->

          <div>


            <!-- widget content -->
            <div class="widget-body">

              <kdnc-product-add-form></kdnc-product-add-form>
            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </div>
      <!-- WIDGET ROW END -->

    </div>

    <!-- end row -->

  </kdnc-widgets-grid>
  <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->


