<div id="content">

  <kdnc-widgets-grid>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="well">

          <!-- Note block -->
          <div class="alert alert-info alert-block">
            SUCCESS - This is the guarded route
          </div>
          <!-- End Note block -->

          <!-- Content block -->
          <div>
            <a (click)='navigateToPreviousRoute($event)' class='btn btn-primary btn'>
              Navigate to parent route
            </a>
          </div>
          <!-- End Content block -->

        </div>
      </div>
    </div>


  </kdnc-widgets-grid>

</div>




