<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row"  >
          <ul>
            <li routerLinkActive="active">
              <a [routerLink]="['/welcome']">Home</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a [routerLink]="['/products']">Product List</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/products', 'add']">Add Product</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/products', 0, 'edit']">Edit Product</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/async-loader']">Async Loader</a>
            </li>
          </ul>
        </div>
    </div>
</div>
