<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row"  >
          <ul>
            <li routerLinkActive="active">
              <a [routerLink]="['/welcome']">Home</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a [routerLink]="['/products']">Product List</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/products', 0, 'edit']">Add Product</a>
            </li>
            <li>
              <span>Forms</span>
              <ul>
                <li routerLinkActive="active">
                  <a [routerLink]="['/reactive-forms']">Reactive Forms</a>
                </li>
              </ul>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/async-loader']">Async Loader</a>
            </li>
          </ul>
        </div>
    </div>
</div>
